#root{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
}

#sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    background-color: #212121;
    justify-content: center;
    align-items: center;
}

#playside{
    display:flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    height: 100%;
}

#container{
    flex: 0 1 auto;
    display: inline-flex;
    flex-flow: wrap;
    border: 20px solid #424242;
    width: 640px;
    height: 640px;
}

#clear{
    height: 35px;
    width: 125px;
    background-color: #DCFFB7;
    border-radius: 8px;
    border: none;
}

.title{
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 25%;
}

#slide{
    position: relative;
    top: 10%;
    background: linear-gradient(to right, #DCFFB7 0%, #fff 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 10px;
    outline: none;
    -webkit-appearance: none;
}

#slide::-webkit-slider-thumb{
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 16px;
  width: 16px;
  background-color:crimson;
  border-radius: 50%;
  border: 1px solid black;
}
