#root{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
}

#sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    background-color: #212121;
    justify-content: center;
    align-items: center;
}

#playside{
    display:flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    height: 100%;
}

#container{
    flex: 0 1 auto;
    display: flex;
    flex-flow: wrap;
    border: 20px solid #424242;
    justify-content: center;
    width: 640px;
}

#clear{
    height: 35px;
    width: 125px;
    background-color: #DCFFB7;
    border-radius: 8px;
    border: none;
}

.title{
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 25%;
}